th{color: black;
    background-color: rgb(255, 196, 0);
    text-align: center;
    
}
tr{color: #c4c6d4;
    background-color: hsl(29, 88%, 41%);
    text-align: center;
    
h2{
    width="800px"
}